<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>names</key>
	<array>
		<string>Alice</string>
		<string>Bob</string>
	</array>
	<key>personalities</key>
	<array>
		<string>Standard</string>
	</array>
</dict>
</plist>
