<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>names</key>
	<array>
		<string>Alice</string>
		<string>Bob</string>
	</array>
	<key>personalities</key>
	<dict>
		<key>standard</key>
		<dict>
			<key>requestEmail</key>
			<string>Where can I send you messages?</string>
			<key>hi2</key>
			<string>Nice to meet you!</string>
			<key>hi1</key>
			<string>Hi</string>
			<key>intro2</key>
			<string>My name is</string>
			<key>intro1</key>
			<string>I&apos;m your new iPhone app!</string>
			<key>font</key>
			<string>Helvetica</string>
			<key>greeting</key>
			<string>Hi!</string>
		</dict>
	</dict>
</dict>
</plist>
